<hr/>
<footer>
<a href="https://rtask.thinkr.fr"><img src="logo_thinkr_400_129.png" alt="ThinkR Website"/></a>
<!--https://yihui.org/en/2018/09/target-blank/-->
<script>
  (function() {
  var links = document.getElementsByTagName('a');
  for (var i = 0; i < links.length; i++) {
    if (/^(https?:)?\/\//.test(links[i].getAttribute('href'))) {
      links[i].target = '_blank';
    }
  }
})();
</script>
</footer>
